header-links {
  text-align: right;
  flex-direction: row;
  justify-content: right;
}

my-div {
  background-color: #4682b4;
}

my-header {
  flex: 1 0 200px;
  border-style: solid;
  border-color: dark blue;
  background: light blue;
}

footer-links {
  text-align: left;
}


