header-links {
  text-align: left;
}

body {
  background-color: goldenrod;
}

header {
  flex: 1 0 200px;
  border-style: solid;
  border-color: dark blue;
  background: light blue;
}
footer-links{

    text-align: left;
}