header {
  background-color: #1fc8db;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
  color: #0d6efd;
  text-align: right;
  flex-direction: row;
  justify-content: right;
}

footer {
  background-color: #1fc8db;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
  color: #0d6efd;
  opacity: 0.95;
  text-align: left;
}

body { background-color: #1fc8db;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
  color: #0d6efd;
  opacity: 0.95;}